:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dnd-flow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dnd-flow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dnd-flow aside .description {
  margin-bottom: 10px;
}

.dnd-flow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dnd-flow .dndnode.input {
  border-color: #0041d0;
}

.dnd-flow .dndnode.output {
  border-color: #ff0072;
}

.dnd-flow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dnd-flow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dnd-flow {
    flex-direction: row;
  }

  .dnd-flow aside {
    width: 20%;
    max-width: 250px;
  }
}

.send-message {
  border: 1px solid black;
  border-radius: 5px;
}
.send-message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: #B0F1E2;
  padding: 3px 10px;
  width: 200px;
  border-radius: 5px 5px 0 0;
}
.send-message-label {
  padding: 5px;
  text-align: center;
}

.brand-wrapper {
  background: white;
  border-radius: 50%;
  padding: 6px 8px;
  display: flex;
  align-items: center;
}

.text {
  color: black;
}